$empty: #000000;
$light: #e5e5e5;
$wather: #14213d;
$sun: #fca311;
$ground: #4b2813;

// planet colors support as real planets

$mercury: #a9a9a9;
$venus: #f0e68c;
$earth: #1e90ff;
$mars: #ff6347;
$jupiter: #ff8c00;
$saturn: #ffd700;
$uranus: #00ced1;
$neptune: #00008b;
