@import 'variables';
@import 'fonts';
@import 'colors';
@import 'animations';
@import 'mixins';
@import 'buttons';
@import 'helpers';
@import 'forms';

html,
body {
	scroll-behavior: smooth;

	margin: 0;
	padding: 0;
	font-size: 62.5%;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;

	background-color: $empty;
	color: $light;

	& > section {
		z-index: 99;
		position: relative;
	}
}

.navigation {
	background-color: $wather;
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;

	ul {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 2rem;

		&.left {
			justify-content: flex-start;
		}
		&.right {
			justify-content: flex-end;
		}

		li {
			list-style: none;
			padding: 10px 15px;
		}
	}
}

.container {
	z-index: 9;
	position: relative;
	min-width: 320px;
	width: 80%;
	max-width: 1080px;
	margin: 0 auto;
}

.section {
	padding: 0 2rem;
	margin: 0;

	&.hero {
		margin-top: 0;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;

		h1,
		h4 {
			z-index: 9;
		}

		h4 {
			max-width: 55cap;
			font-weight: 300;
		}

		.buttons {
			display: flex;
			margin-top: 2rem;
		}
	}

	& .devs_section {
		h2 {
			text-align: center;
			margin-bottom: 5rem;
		}

		.devs_container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 2rem;
			justify-content: center;

			@media (max-width: 1024px) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media (max-width: 768px) {
				grid-template-columns: 1fr;
			}
			.developer {
				position: relative;
				padding: 4rem;
				border: 1px solid white;
				border-radius: 10px;
				backdrop-filter: blur(12px);
				box-shadow: 0px 0px 4px white;
				display: flex;
				flex-direction: column;
				transition: 0.2s;

				&:hover {
					backdrop-filter: blur(16px);
					box-shadow: 0px 0px 8px white;
					scale: 1.02;
				}

				img {
					border-radius: 100%;
					margin: 0 auto 3rem;
				}

				.dev_name,
				.dev_position {
					text-align: center;
					margin: 0;
				}

				.dev_media {
					display: flex;
					justify-content: space-evenly;
					margin-top: 3rem;

					a:not(:first-child) {
						margin-left: 2rem;
					}
				}
			}
		}
	}

	&.signup,
	&.login {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
	}

	&.footer {
		.copyright {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			margin-top: 6rem;
		}
	}

	// &.dashboard {}
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 25vh;
	z-index: 99;
	position: relative;
	background: $wather;
	background: -moz-linear-gradient(0deg, $wather 0%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(0deg, $wather 0%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(0deg, $wather 0%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

// .solar_system_container {
// 	position: absolute;
// 	width: 100%;
// 	height: 100vh;
// 	overflow: hidden;
// 	pointer-events: none;

// 	.solar_system {
// 		position: relative;
// 		width: 100%;
// 		height: 100%;
// 		margin: 0 auto;
// 		overflow: hidden;
// 		opacity: 0.5;
// 		transform: skew(-10deg, -10deg) translate(25%, 0) scale(1.5);

// 		.sun {
// 			width: 80px;
// 			height: 80px;
// 			top: calc(50% - 40px);
// 			left: calc(50% - 40px);
// 			border-radius: 100%;
// 			background-color: $sun;
// 			position: absolute;
// 			filter: blur(16px);
// 		}

// 		.mercury {
// 			@include planet(100px, $mercury);
// 			animation: rotate 4s linear infinite;
// 		}
// 		.venus {
// 			@include planet(130px, $venus);
// 			animation: rotate 6s linear infinite;
// 		}
// 		.earth {
// 			@include planet(160px, $earth);
// 			animation: rotate 8s linear infinite;
// 		}
// 		.mars {
// 			@include planet(190px, $mars);
// 			animation: rotate 10s linear infinite;
// 		}
// 		.jupiter {
// 			@include planet(220px, $jupiter);
// 			animation: rotate 12s linear infinite;
// 		}
// 		.saturn {
// 			@include planet(250px, $saturn);
// 			animation: rotate 14s linear infinite;
// 		}
// 		.uranus {
// 			@include planet(280px, $uranus);
// 			animation: rotate 16s linear infinite;
// 		}
// 		.neptune {
// 			@include planet(310px, $neptune);
// 			animation: rotate 18s linear infinite;
// 		}
// 	}
// }

// #planets-list {
// 	z-index: 10;
// 	position: fixed;
// 	bottom: 0;
// 	width: 100%;
// 	display: flex;
// 	background: #fff;
// }

.earth_model {
	position: fixed;
	top: 0;
	left: 50%;
	pointer-events: none;
	filter: brightness(0.8);
}

#planets-list {
	z-index: 10;
	left: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	gap: 1rem;
	background: transparent;
}

.sphere {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 0;
	border-radius: 50%;
	position: relative;
	transform-style: preserve-3d;
	background: var(--sphere_bg);
	background-size: auto 100%;
	animation: move-map 30s infinite linear;
	box-shadow: 0 0 22px 2px rgba(0, 0, 0, 0.3);

	&:before {
		content: '';
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		box-shadow: -40px 10px 70px 10px rgba(0, 0, 0, 0.5) inset;
		z-index: 2;
	}

	&:after {
		content: '';
		position: absolute;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		filter: blur(0);
		opacity: 0.3;
		background: radial-gradient(circle at 50% 80%, #81e8f6, #76deef 10%, #055194 66%, #062745 100%);
	}
}
