$size-1: clamp(4rem, 5vw, 64px);
$size-2: clamp(3.2rem, 4vw, 48px);
$size-3: clamp(2.4rem, 3vw, 36px);
$size-4: clamp(2rem, 2vw, 20px);
$size-5: clamp(1rem, 1vw, 14px);
$size-6: clamp(0.6rem, 0.6vw, 10px);
